/* =Typography
-----------------------------------------------------------------------------*/
body {

}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/


/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
/* =Layout
-----------------------------------------------------------------------------*/

#quagmire{
	position: relative;
	overflow: hidden;
	max-height: 480px;
	height: 100%;
	min-height: 480px;
	display: block;
	background-color: #000;
}

#quagmire .inner{
	position: absolute;
	max-height: 480px;
	height: 100%;
	min-height: 480px;
	display: block;
}


#quagmire .inner img{
	position: absolute;
	width: 100%;
}


#quagmire .inner .bg{
	right:480px;
}

#quagmire .inner .quags{
	top:480px;
}






/* =Header
-----------------------------------------------------------------------------*/

/* =Footer
-----------------------------------------------------------------------------*/



/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {

}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}