/* =Typography
-----------------------------------------------------------------------------*/
body {

}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/


/* =Header
-----------------------------------------------------------------------------*/


/* =Nav
-----------------------------------------------------------------------------*/


/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
/* =Layout
-----------------------------------------------------------------------------*/
#quagmire{
	position:relative;
	overflow:hidden;
	padding:0;
}

/* =Header
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/



/* =Tablet (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .wrapper { width: 748px; }
}


/* =Mobile (Portrait)
-----------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.wrapper { width: 300px; }
	#nav, #header h1 { float: none; }
	#header h1 { margin-bottom: .5em; }
	#nav ul li { margin: 0; float: none; margin-bottom: 1px; background-color: #f6f6f6; }
	#nav ul li a, #nav ul li span { display: block; padding: 2px 5px; }
}

/* =Mobile (Landscape)
-----------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.wrapper { width: 420px; }
}